
body{
    margin: 0;
    font-family: raleway, sans-serif;
    overflow-x: hidden;

    --fondoYsombras: #FFFFFF;
    --azul: #2F3645;
    --azulTransparente: #2f3645b3;
    --azulTransparenteDos: #767a81de;
    --grisSombra: #808080;
    --negro: #000000;
}

header{
    height: 110px;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    transition: all 0.8s ease;
}

.svg-header{
    margin: 10px 0 0 80px;
}

.div-header{
    margin-right: 35px;
    align-items: center;
    display: flex;
}

.link-nav{
    text-decoration: none;
    color: var(--fondoYsombras);
    text-shadow: var(--negro) 2px 2px;
    font-weight: 500;
    font-size: 25px;
    margin: 0 10px;
    transition: all 0.8s ease;
}

.link-nav:hover{
    padding-top: 5px;
    text-shadow: none;
}

.scroll{
    background-color: var(--fondoYsombras);
    z-index: 5;
}

.a-scroll{
    color: var(--negro);
    text-shadow: var(--fondoYsombras) 1px 1px, var(--grisSombra) 3px 3px;
}

.a-scroll:hover{
    padding-top: 5px;
    text-shadow: none;
}

h1{
    font-size: 60px;
    font-weight: 500;
    color: var(--fondoYsombras);
    text-shadow: var(--negro) 4px 2px;
    margin: 0;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fondo-uno{
    margin-top: 3px;
    background-image: url(./assets/imagenes/fondo.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: -1;
}

h3{
    font-size: 40px;
    font-weight: 500;
    text-shadow: var(--fondoYsombras) 1px 1px, var(--grisSombra) 2px 2px;
    margin: 0;
}

.contenido{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--fondoYsombras);
}

.tarjetas{
    display: flex;
    justify-content: space-around;
    background-color: var(--fondoYsombras);
}

.card{
    width: 450px;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.img-card{
    width: 450px;
    margin: 15px 0;
}

.img-card-dos{
    margin-bottom: 30px;
}

.p-card{
    margin: 0;
    padding: 0 15px 0 15px;
}

.a-card{
    background-color: var(--azul);
    padding: 10px;
    margin: 0 35px;
    color: var(--fondoYsombras);
    text-decoration: none;
}

footer{
    background-color: var(--azul);
    color: var(--fondoYsombras);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
}

.p-footer{
    margin: 0;
}

.footer-sec{
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.footer-sec .p-footer{
    width: 120px;
    font-size: 15px;
    font-weight: 700;
    margin-left: 50px;
}

.img-footer{
    width: 120px;
}

.div-footer{
    margin-right: 100px;
}

/* NOTE pagina de historia*/

.main-sec{
    background-color: var(--azulTransparente);
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fondo{
    background-image: url(./assets/imagenes/historia-home.jpg);
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: -1;
}

h2{
    font-size: 60px;
    font-weight: 500;
    color: var(--fondoYsombras);
    text-shadow: var(--negro) 4px 2px;
    margin: 0;
}

.sec-historia{
    display: flex;
    padding: 0 80px;
    background-color: var(--fondoYsombras);
}

.separacion{
    padding: 200px 80px;
}

.img-historia{
    width: 700px;
}

.div-historia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
}

.div-historia h3{
    text-align: center;
}

.video{
    flex-direction: column;
    align-items: center;
}

.video h3{
    padding: 90px 0;
    text-align: center;
}

video{
    width: 1000px;
}

.div-video{
    background-color: var(--azul);
    display: flex;
    justify-content: center;
    width: 1020px;
    height: 655px;
}

.div-barra{
    width: 1020px;
    height: 80px;
    background-color: var(--azul);
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    color: var(--fondoYsombras);
    user-select: none;
}

.div-controles{
    width: 220px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.img-control{
    width: 10px;
    height: 20px;
    background-color: var(--fondoYsombras);
    padding: 10px 40px;
    margin: auto;
    box-shadow: var(--azul) 1px 1px, var(--grisSombra) 3px 3px;
}

.div-duracion{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

/* NOTE pagina de juego*/

.main-juego{
    background-color: var(--azulTransparente);
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fondo-juego{
    background-image: url(./assets/imagenes/juego-home.jpg);
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: -1;
}

.sec-juego{
    background-color: var(--fondoYsombras);
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.div-top{
    position: relative;
    display: flex;
    gap: 20px;
    transition: gap 3s ease-in-out, transform   3s;
}

.div-juego{
    width: 200px;
    height: 350px;
    background-color: var(--grisSombra);
    border: var(--negro) 2px solid;
    text-align: center;
    display: flex;
    align-items: center;
    color: var(--fondoYsombras);
}

.div-juego:hover{
    background-color: var(--negro);
}

.div-juego p{
    margin: 0 20px;
}

.div-img-juego{
    margin: 10px;
}

.div-img-juego img{
    height: 350px;
}

.imagenUno{
    rotate: 6deg;
    width: 200px;
    height: 350px;
}

.imagenDos{
    rotate: -6deg;
    width: 200px;
    height: 350px;
}

.imagenTres{
    rotate: 93deg;
    width: 200px;
    height: 350px;
}

.moved{
    rotate: 0deg;
}

.titulo-juego{
    font-size: 60px;
    margin: 130px 0 35px 0;
    transition: opacity 3s ease-in-out;
}

button{
    background-color: var(--azul);
    color: var(--fondoYsombras);
    padding: 10px 90px;
    margin-bottom: 120px;
}

.btn-principal{
    display: none;
}

/* NOTE animaciones */

/* Animacion SVG*/

.base, .front, .code {
    opacity: 0;
}

.base {
    transform: translateY(-50px);
    animation: caer 0.6s ease-out forwards;
}

.front {
    transform: translateY(-50px);
    animation: caer 0.6s ease-out forwards;
    animation-delay: 0.6s;
}

.code {
    animation: aparecer 0.6s ease-out forwards;
    animation-delay: 1.2s;
}

@keyframes caer {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Animacion tarjetas home*/

#cardDer.visible {
    animation: slideInRight 0.8s ease-out forwards;
}

#cardIzq.visible {
    animation: slideInLeft 0.8s ease-out forwards;
    animation-delay: 0.6s; 
}

.card {
    opacity: 0;
    will-change: transform, opacity;
}

@keyframes slideInLeft {
    from { transform: translateX(-150px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes slideInRight {
    from { transform: translateX(150px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

/* Animacion historia*/

.show-left {
    opacity: 0;
    transform: translateX(-120px);
    transition: all 0.8s ease-out;
}

.show-right {
    opacity: 0;
    transform: translateX(120px);
    transition: all 0.8s ease-out;
}

.show-left.visible,
.show-right.visible {
    opacity: 1;
    transform: translateX(0);
}

/* Animacion juego completo*/

.imagenes-finales {
    display: flex;
    gap: 0;
    width: 740px;
    justify-content: center;
    margin: 250px 0 100px 0;
    animation: zoomOut 3s ease forwards;
}

.imagenes-finales img {
    width: 200px;
    height: 350px;
    object-fit: cover;
}

.imagenes-finales > .div-juego{
    border: none;
}

.mensaje-final {
    font-size: 50px;
    font-weight: 500;
    color: var(--azul);
    text-shadow: var(--fondoYsombras) 1px 1px, var(--grisSombra) 2px 2px;
    text-align: center;
    margin: 200px;
    animation: textoFinal 2s ease;
}

.mensaje-mal{
    font-size: 50px;
    color: var(--fondoYsombras);
    text-align: center;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 25%;
    text-shadow: var(--grisSombra) 1px 1px, var(--negro) 5px 5px 2px;
    animation: textoFinal 2s ease;
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    70% {
        transform: scale(1);
    
    }
    100% {
        transform: scale(1);
    }
}

@keyframes textoFinal {
    0% {
        transform: translateY(-200px) scale(1);
        opacity: 0;
    }
    30% {
        transform: translateY(0) scale(1.2);
        opacity: 1;
    }
    60% {
        transform: translateY(0) scale(1);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}
